{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-sm-3 offset-sm-9 text-right">
        <p>Date du jour : {{ "now" | date('d/m/Y') }}</p>
        <p>Participant : {{ participant.prenom }} {{ participant.nom | upper }}</p>
    </div>

    <h4 class="text-left">Filtrer les sorties</h4>
    <form action="home.html.twig">
        <div class="row">
            <div class="form-group col-sm-6">
                <div class="row mb-2">
                    <div class="col-3">
                        <label for="campus">Campus</label>
                    </div>
                    <div class="col-9">
                        <select name="campus" class="custom-select" id="campus">
                            {% for camp in campus %}
                                <option value="{{ camp.nomCampus }}">{{ camp.nomCampus }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="form-label" for="nomSortie">Le nom de la sortie contient : </label>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input type="text" class="form-control" id="nomSortie" placeholder="rechercher">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-3">
                                <label class="form-label" for="entre">Entre</label>
                            </div>
                            <div class="col-9">
                                <input type="datetime-local" class="form-control" id="entre">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-3">
                                <label class="form-label" for="jusquA">et</label>
                            </div>
                            <div class="col-9">
                                <input type="datetime-local" class="form-control" id="jusquA">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group form-check col-sm-4">
                <div class="ml-5">
                    <input class="form-check-input" type="checkbox" id="sortiesOrg" name="filtresSorties"
                           value="Sorties dont je suis l'organisateur/trice" checked>
                    <label class="form-check-label" for="sortiesOrg">
                        Sorties dont je suis l'organisateur/trice</label><br>

                    <input class="form-check-input" type="checkbox" id="sortiesInscription" name="filtresSorties"
                           value="Sorties auxquelles je suis inscrit/e" checked>
                    <label class="form-check-label" for="sortiesInscription">
                        Sorties auxquelles je suis inscrit/e</label><br>

                    <input class="form-check-input" type="checkbox" id="sortiesSansInscription" name="filtresSorties"
                           value="Sorties auxquelles je ne suis pas inscrit/e" checked>
                    <label class="form-check-label" for="sortiesSansInscription">
                        Sorties auxquelles je ne suis pas inscrit/e</label><br>

                    <input class="form-check-input" type="checkbox" id="sortiesPassees" name="filtresSorties"
                           value="Sorties passées" checked>
                    <label class="form-check-label" for="sortiesPassees">Sorties passées</label>
                </div>
            </div>
            <div class="form-group col-sm-2">
                <a href="{{ path('home') }}" class="col-6 offset-3">
                    <button type="submit" class="btn btn-primary btn-lg">Rechercher</button></a>
            </div>
        </div>
    </form>


    <table class="table table-striped table-light table-bordered">
        <th scope="col">Nom de la sortie</th>
        <th scope="col">Date de la sortie</th>
        <th scope="col">Clôture</th>
        <th scope="col">inscrits/places</th>
        <th scope="col">Etat</th>
        <th scope="col">Inscrit(e)</th>
        <th scope="col">Organisateur/trice</th>
        <th scope="col">Actions</th>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateDebut | date('d/M/Y H:i') }}</td>
                <td>{{ sortie.dateCloture | date('d/M/Y H:i') }}</td>
                <td>X/{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat }}</td>
                <td>Etat à définir</td>
                <td>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom | upper }}</td>
                <td>Actions à définir</td>
            </tr>
        {% endfor %}
    </table>

    <div class="col-4 offset-4 mt-5">
        <a href="{{ path('sortie_creation') }}" class="text-decoration-none">
            <button class="btn btn-primary btn-lg btn-block">Créer une sortie</button></a>
    </div>

{% endblock %}
