{% extends 'base.html.twig' %}

{% form_theme sortieSearchForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <a href="{{ path('sortie_creation') }}">Créer une sortie</a>
    <a href="{{ path('app_logout') }}">Logout</a>

    <h1 class="text-center">test</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{ form_start(sortieSearchForm) }}
                {{ form_row(sortieSearchForm.nomCampus) }}
                {{ form_row(sortieSearchForm.motCle) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(sortieSearchForm.dateDebutSearch) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(sortieSearchForm.dateFinSearch) }}
                        </div>
                    </div>
            </div>
            <div class="col-md-6">
                {{ form_row(sortieSearchForm.sortieOrganisateur) }}
                {{ form_row(sortieSearchForm.sortieInscrit) }}
                {{ form_row(sortieSearchForm.sortieNonInscrit) }}
                {{ form_row(sortieSearchForm.sortiePassees) }}
            </div>
            <button type="submit" class="btn btn-primary">Rechercher</button>
            {{ form_end(sortieSearchForm) }}
        </div>

        <table class="table table-striped table-light table-bordered">
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">inscrits/places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit(e)</th>
            <th scope="col">Organisateur/trice</th>
            <th scope="col">Actions</th>
            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateDebut | date('d/M/Y H:i') }}</td>
                    <td>{{ sortie.dateCloture | date('d/M/Y H:i') }}</td>
                    <td>X/{{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat_id }}</td>
                    <td>Etat à définir</td>
                    <td>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom | upper }}</td>
                    <td>Actions à définir</td>
                </tr>
            {% endfor %}
        </table>

    </div>

{% endblock %}
