{% extends 'base.html.twig' %}

{% block body %}

    {% form_theme modifForm 'bootstrap_4_layout.html.twig' %}
    <h1 class="m-3">Modifier une sortie</h1>
    <div class="row">
        <div class="col-sm-6">
            {{ form_start(modifForm) }}
            {{ form_row(modifForm.nom) }}
            {{ form_row(modifForm.date_debut) }}
            {{ form_row(modifForm.date_cloture) }}
            {{ form_row(modifForm.nb_inscriptions_max) }}
            {{ form_row(modifForm.duree) }}
            {{ form_row(modifForm.description_infos) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(modifForm.campus) }}
            {{ form_row(modifForm.ville) }}
            {{ form_row(modifForm.lieu) }}
            {{ form_row(modifForm.Rue) }}
            {{ form_row(modifForm.code_postal) }}
            {{ form_row(modifForm.latitude) }}
            {{ form_row(modifForm.longitude) }}
        </div>
    </div>
    <div class="row col-sm-10 offset-sm-1 mt-3">
        <div class="col">
            <a href="{{ path('sortie_modif',{'id': sortie.id}) }}">
                <button type="submit" class="btn btn-success my-3 ml-5"
                        formnovalidate>Enregistrer</button></a>
        </div>
        <div class="col">
            <a href="">
                <button type="submit" class="btn btn-info my-3 ml-5"
                        formnovalidate>Publier la sortie</button></a>
        </div>
        <div class="col">
            <a href="{{ path('home') }}">
                <button type="submit" class="btn btn-light my-3 ml-5"
                        formnovalidate>Annuler</button></a>
            {{ form_end(modifForm) }}
        </div>
        <div class="col">
            <form method="post" action="{{ path('sortie_suppression',{'id': sortie.id}) }}"
                  onsubmit="return confirm('Êtes vous sûr(e) de vouloir supprimer la sortie ?')">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sortie.id) }}">
                <a href="{{ path('sortie_suppression',{'id': sortie.id}) }}">
                    <button type="submit" class="btn btn-danger btn-block my-3">
                        Supprimer la sortie</button></a>
            </form>
        </div>
    </div>



{% endblock %}

