{% extends 'base.html.twig' %}

{% block title %}Afficher profil{% endblock %}

{% block body %}
    <div>
        <h2> {{ user.pseudo }}</h2>
        <p><strong>Nom :</strong> {{ user.nom }}</p>
        <p><strong>Prénom :</strong> {{ user.prenom }}</p>
        <p><strong>Téléphone :</strong> {{ user.telephone }}</p>
        <p><strong>Email :</strong> {{ user.email }}</p>
        <p><strong>Campus :</strong> {{ user.campus }}</p>

        <a href="{{ path ("home") }}" class="btn btn-info">Retour</a>
    </div>
{% endblock %}
